#profile {
  height: 520px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile::-webkit-scrollbar { 
  display: none;
}

#profile .close {
  position: fixed;
  top: 40px;
  right: 12px;
  cursor: pointer;
  color: gray;
}

#profile .close:hover {
  scale: 1.1;
}

.profile-icon {
  height: 200px;
  border-radius: 100%;
  border: solid 3px rgb(226, 228, 225);
  transition: transform 3s;
  transform-style: preserve-3d;
  /* margin-top: 40px; */
}

.profile-icon:hover {
  transform: rotateY(720deg);
}

.profile-details h2 {
  margin-top: 10px;
  font-family: serif;
  text-align: center;
}

.profile-details p {
  margin-top: -18px;
  font-size: small;
  text-align: center;
  white-space: break-spaces;
}

.profile-timeline {
  position: relative;
  border-left: 1px solid rgb(167, 167, 167);
}

.timeline-item {
  margin-bottom: 40px;
  margin-left: 3px;
  list-style: none;
}

.timeline-point {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(202, 200, 200);
  border-radius: 50%;
  margin-top: 1.5px;
  left: -10px;
  border: 1px solid white;
}

@media(prefers-color-scheme: dark) {
  #profile {
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.701);
  }
  
  .profile-icon{
    border: solid 3px rgba(225, 227, 226, 0.97);
  }
  
  .timeline-point {
    background-color: rgb(120, 118, 118);
    border: 1px solid white;
  }
}
