.sumaho {
  width: 320px;
  height: 620px;
  border-radius: 20px;
  background-color: #10100f;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: solid 1px white;
}

.top-bar {
  width: 40px;
  height: 5px;
  background-color: #313030;
  border-radius: 10%;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.screen-top {
  position: absolute;
  top: 3px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.current-time {
  font-size: small;
  padding-left: 8px;
}

.battery {
  margin-right: 8px; 
  display: flex; 
  align-items: center;
}

.screen-content {
  width: 300px;
  max-height: 520px;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-content::-webkit-scrollbar { 
  display: none;
}

.page-container {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 100;
}

.page-container::-webkit-scrollbar { 
  display: none;
}

.screen-content .page-container {
  scroll-snap-type: x mandatory;
}

.pages {
  width: 300px;
  height: 520px;
  flex: 0 0 auto;
  padding: 50px 12px 20px 12px;
  box-sizing: border-box;
  scroll-snap-align: start;
}

@media(prefers-color-scheme: dark) {
  .sumaho {
    background-color: #10100f;
    border: solid 1px rgb(228, 231, 228);
  }

  .current-time {
    color: white;
  }

  .battery {
    color: white;
  }

  .pages {
    background-color: rgba(0, 0, 0, 0.897);
  }
}
